include distribute_setup.py
prune nineml/examples
graft nineml/examples/AL/components_done
graft nineml/examples/AL/demos
graft nineml/examples/AL/doc_tutorials
graft nineml/examples/UL
prune nineml/.deprecated
recursive-exclude * .gitignore